/* Resets */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
  margin-bottom: 8px;
  font-weight: 400;
  color: var(--neutral-500);
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Custom Styles */

/* @font-face {
  font-family: "Sora";
  src: url("/assets/fonts/Sora/sora-variablefont_wght-webfont.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
} */

:root {
  /* Font sizes */

  /* Neutral */
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Blue */
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);

  /* Red */
  --red-500: hsl(354, 63%, 57%);

  /* Green */
  --green-500: hsl(140, 63%, 57%);

  /* Yellow */
  --yellow-400: hsl(49, 85%, 70%);
}

/* ------------------------- */
/* Text Preset 1 */
/* ------------------------- */

/* Desktop - Bold */
.text-preset-1 {
  font-weight: 700; /* Bold */
  font-size: 40px;
  line-height: 136%;
  letter-spacing: 0.4px;
}

/* Mobile override */
@media (max-width: 768px) {
  .text-preset-1 {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.32px;
  }
}

/* Desktop - Regular variant */
.text-preset-1-regular {
  font-weight: 400; /* Regular */
  font-size: 40px;
  line-height: 136%;
  letter-spacing: 0.4px;
}

/* Mobile override */
@media (max-width: 768px) {
  .text-preset-1-regular {
    font-size: 20px;
    line-height: 136%;
  }
}

/* ------------------------- */
/* Text Preset 2 (Bold, smaller) */
/* ------------------------- */
.text-preset-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

/* ------------------------- */
/* Text Preset 3 */
/* ------------------------- */

/* Regular */
.text-preset-3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.6px;
}

/* Mobile override */
@media (max-width: 768px) {
  .text-preset-3 {
    font-size: 16px;
    letter-spacing: -0.48px;
  }
}

/* SemiBold variant */
.text-preset-3-semibold {
  font-weight: 600; /* SemiBold */
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
}

/* ------------------------- */
/* Text Preset 4 */
/* ------------------------- */
.text-preset-4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.6px;
}

/* ------------------------- */
/* Text Preset 5 */
/* ------------------------- */
.text-preset-5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.48px;
}

/* ------------------------- */
/* Text Preset 6 */
/* ------------------------- */
.text-preset-6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0;
}
.thin-text-preset {
  font-size: 24px;
  font-weight: 100;
  color: var(--neutral-500);
}

/* ------------------------- */
/* Border-radius */
/* ------------------------- */

.radius-0 {
  border-radius: 0;
}
.radius-4 {
  border-radius: 4px;
}
.radius-6 {
  border-radius: 6px;
}
.radius-8 {
  border-radius: 8px;
}
.radius-10 {
  border-radius: 10px;
}
.radius-12 {
  border-radius: 12px;
}
.radius-16 {
  border-radius: 16px;
}
.radius-20 {
  border-radius: 20px;
}
.radius-24 {
  border-radius: 24px;
}
.radius-full {
  border-radius: 999px;
}

/* ------------------------- */
/* Spacing Utilities - Padding */
/* ------------------------- */

.p-0 {
  padding: 0;
}
.p-25 {
  padding: 2px;
}
.p-50 {
  padding: 4px;
}
.p-75 {
  padding: 6px;
}
.p-100 {
  padding: 8px;
}
.p-125 {
  padding: 10px;
}
.p-150 {
  padding: 12px;
}
.p-200 {
  padding: 16px;
}
.p-250 {
  padding: 20px;
}
.p-300 {
  padding: 24px;
}
.p-400 {
  padding: 32px;
}
.p-500 {
  padding: 40px;
}
.p-600 {
  padding: 48px;
}
.p-800 {
  padding: 64px;
}
.p-1000 {
  padding: 80px;
}
.p-1200 {
  padding: 96px;
}
.p-1400 {
  padding: 112px;
}
.p-1600 {
  padding: 128px;
}
.p-1800 {
  padding: 140px;
}

/* ------------------------- */

body {
  font-family: "Sora", sans-serif;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
p {
  color: var(--neutral-400);
}
hr {
  border: none;
  border-top: 1px solid var(--neutral-800);
  margin: 20px 0;
}
fieldset {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.white-accent {
  color: var(--neutral-0);
}
.main-container{
  min-height: 500px;
}
.star-1, .star-2{
  position:absolute;
}
.star-1{
  bottom:10%;
  right:0;
}
.star-2{
  top:20%;
  left:0;
}
.confetti{
  display:none;
  position: absolute;
  bottom: 0;
  
}
.main-container,
.header-container {
  max-width: 1216px;
  width: 100%;
  padding: 32px 16px;
  position: relative;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
}
.personal-best-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.shake {
  animation: shake 0.3s 3;
  transition: all 0.3s ease-in-out;
  animation-timing-function: ease-in-out;
}
.performance-metric,
.performance-metrics-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.performance-details-container {
  display: flex;
  justify-content: space-between;
}
.dificulty-settings-container {
  display: flex;
  gap: 1rem;
}
.performance-details-container,
.dificulty-settings-container {
  align-items: center;
}
.buttons-container {
  display: flex;

  gap: 16px;
}
.button {
  display: inline-flex;
  flex-direction: column;
}
label {
  border: 1px solid var(--neutral-0);
  padding: 5px 8px;
  border-radius: 5px;
}
input[type="radio"] {
  visibility: hidden;
  display: none;
}
label:hover {
  cursor: pointer;
}
input[type="radio"]:checked + label {
  border: 1px solid var(--blue-400);
  color: var(--blue-400);
  transition: all 0.2s ease-in;
}
input[type="radio"]:focus + label {
  outline: 2px solid var(--blue-400);
  outline-offset: 2px;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.difficulty-settings-container-mobile {
  display:none;
}

.text-container{
  color:var(--neutral-500);
  position: relative;
}
.text-container.inactive{
  filter: blur(5px);
}
.test-container-modal{
  position: relative;
}
.start-button-container{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  z-index: 5;
  p{
    padding:1rem 0;
    color:white;
  }
  .start-button{
    background-color: var(--blue-600);
    border:none;
    padding:10px 16px;
    color:white;
    border-radius: 8px;
    cursor: pointer;
    transition: all .25s ease-in-out;

  }
  .start-button:hover{
    background-color: var(--blue-400);
  }
}
.cursor-at{
  
  animation: blip 1s linear infinite;
}
.correct{
  color:green;

}
.incorrect{
  color:red;
}
.restart-btn{
  z-index: 5;
  background-color: var(--neutral-800);
  color:white;
  display:none;
  gap:.5rem;
  padding:10px 1rem;
  border:none;
  border-radius: 10px;
  cursor:pointer;
  transition: all .25s ease-in-out;
}
.test-complete-btn{
  z-index: 5;
  background-color: var(--neutral-800);
  color:var(--neutral-0);
  display:flex;
  justify-content: center;
  gap: .5rem; 
  padding:10px 16px;
  width: 150px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  img{
    width: 20px;
  }
}
.restart-btn:hover, .test-complete-btn:hover{
  background-color: var(--neutral-500);
}
.restart-btn img{
  width: 20px;
}

.test-complete-container{
  position:absolute;
  top:50%;
  left:50%;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-color: var(--neutral-900);
  transform: translate(-50%, -50%);
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  text-align: center;
}
.test-results{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:1.25rem;
  padding:1.25rem;
  text-align: left;
  .test-metric{
    border:1px solid var(--neutral-500);
    padding:1rem;
    border-radius: 10px;
  }
  .test-metric h3{
    margin-bottom:.625rem;
    color:var(--neutral-400)
  }
}
.wpm-container{
  color:var(--neutral-0)
}
.test-complete-img{
  max-width: 75px;
}
.test-complete-container .restart-btn{
  display:flex;
  width: fit;
}

.good{
  color:var(--green-500);
}
.bad{
  color:var(--red-500);
}
.medium{
  color:var(--yellow-400);
}
.test-history{
  transform: translate(100%);
  transition: all 250ms ease-in-out;
  width: 100%;
  height: 100%;
  padding:1rem 1rem 2rem;
  position: absolute;
  right:0;
  background-color: var(--neutral-800);
  color:var(--neutral-400);
  max-width: 400px;
}
.test-history.show{
  transform: translate(0);
}
.button-container{
  margin-bottom:2rem;
}

.btn-white{
background:var(--neutral-0);
  padding:.5rem 1rem;
  border-radius: 10px;
  border:none;
  color:var(--neutral-900);
  
  cursor:pointer;
}
.close-img{
  width: 20px;
}
.toggle-history-btn:hover{
  
}
.history-table{
  width: 100%;
  
  text-align:left;
  font-size:14px;
}
.history-table thead{
  border-bottom: 1px solid hsla(240, 1%, 59%, 0.5);
}

.history-table td{
  padding: .5rem 0;
  border-collapse:separate;
  
}
.history-table td img{
  width:15px;
}

/* Media queries */
@keyframes blip {
  0%{
    background-color: greenyellow;
  }
  50%{
    
    background-color: transparent;
  }
  100%{
    background-color: greenyellow;
  }
}
@media (max-width: 768px) {
  .performance-details-container {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .main-container{
    min-height:100vh;
  }
  .difficulty-settings-container-mobile {
  display:flex;
  gap:1rem;
  select {
    /* Remove default native styling */
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    -moz-appearance: none; /* Firefox */
    appearance: none;
    background-color: var(--neutral-900);
    color: var(--neutral-0);
    border: 1px solid var(--neutral-0);
    padding: 0.5rem 2rem;
    border-radius: 5px;
    text-align: center;
    background-image: url("../assets/images/icon-down-arrow.svg");
    background-repeat: no-repeat;
    background-position:  right 16px center;
    width: 100%;
  }

  
}
.test-complete-container{
  width: 100%;
  height: 100%;
  padding-top:0;
  justify-content: start;
  
}
.star-2{
  top:5%;
  left:5%;
  width: 20px;
}
.star-1{
  bottom:0;
  width: 40px;
  right:5%;
}
  .test-results{
    grid-template-columns: 1fr;
    width: 100%;
  }
  .dificulty-settings-container{
    display:none;
  }
  .performance-details-container,
  .dificulty-settings-container {
    flex-direction: column;
  }
  .mobile-hide {
    display: none;
  }
}
